**/node_modules
**/dist
**/coverage
**/*.tsbuildinfo
**/*.log
.git
.gitattributes
.husky
.vscode
.idea
scripts
tests
**/*.md
.env
.env.*
**/.env
**/.env.*
docker-compose*.yml
**/Dockerfile
.dockerignore
apps/api/src/infra/db/generated
